[submodule "jfreesane"]
	path = jfreesane
	url = git@github.com:sjamesr/jfreesane.git
[submodule "javaocr"]
	path = javaocr
	url = git://git.code.sf.net/p/javaocr/source
[submodule "reflection-form-builder"]
	path = reflection-form-builder
	url = git@github.com:krichter722/reflection-form-builder.git
[submodule "reflection-form-builder-jpa"]
	path = reflection-form-builder-jpa
	url = git@github.com:krichter722/reflection-form-builder-jpa.git
[submodule "commons-math"]
	path = commons-math
	url = git@github.com:krichter722/commons-math.git
	branch = wrapper_constructor
[submodule "document-scanner"]
	path = document-scanner
	url = git@github.com:krichter722/document-scanner.git
[submodule "JDatePicker"]
	path = JDatePicker
	url = git@github.com:krichter722/JDatePicker.git
        branch = model_generics
[submodule "document-scanner-demo"]
	path = document-scanner-demo
	url = git@github.com:krichter722/document-scanner-demo
[submodule "document-scanner-flexdock"]
	path = document-scanner-flexdock
	url = git@github.com:krichter722/document-scanner-flexdock
[submodule "document-scanner-docking-frames"]
	path = document-scanner-docking-frames
	url = git@github.com:krichter722/document-scanner-docking-frames
